@import "../../mixins/mixins";

.ant-flex {
  .product-container {
    .ant-row {
      h2 {
        width: 100%;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        padding: 50px 0;
      }
    }

    .product-action {
      width: 1800px;
      margin: auto;
      margin-bottom: 25px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;

      .ant-input-group-wrapper {
        width: 40%;
      }
    }

    .ant-layout {
      width: 90%;
      margin: auto;

      aside {
        background-color: #fff !important;
        color: #000 !important;

        .sticky {
          ul {
            li {
              .ant-menu-submenu-title {
                padding-left: 0 !important;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
              }

              ul {
                li {
                  padding-left: 0 !important;
                }
              }
            }
          }
        }
      }

      main {
        background-color: #fff;

        ul {
          margin-left: 20px;
          margin-top: 25px;
        }
      }
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      row-gap: 25px;
      width: 1440px;
      margin: auto;
    }
  }
}

// HOMEPAGE
.products-container {
  padding-top: 100px;

  @include moblie {
    padding-top: 50px;
  }

  .ant-row {
    .products-preview {
      width: 90%;
      margin: auto;

      .products-preview-title {
        width: 100%;
        margin-bottom: 20px;

        .ant-flex {
          .ant-col {
            h2 {
              font-size: 42px;
              text-transform: capitalize;

              @include moblie {
                font-size: 28px;
              }
            }

            a {
              font-size: 18px;
              float: right;

              @include moblie {
                font-size: 14px;
              }
            }
          }
        }
      }

      .products-preview-list {
        width: 100%;
        position: relative;

        .ant-flex {
          .ant-col {
            width: 100%;
            min-width: 350px;
          }
        }

        .products-preview-actions {
          .ant-flex {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0, -50%);

            button {
              padding: 12.5px 5px;
              border: 1px solid gray;
              background-color: transparent;
              border-radius: 5px;
              transform: scaleY(1.2);
              cursor: pointer;
              transition: 0.25s ease-in-out;

              span {
                svg {
                  font-size: 20px;
                  color: gray;
                  transition: 0.25s ease-in-out;
                }
              }

              &:hover {
                border: 1px solid #000;
              }
              &:hover span svg {
                color: #000;
              }
            }

            .disable {
              background-color: #f5f5f5;
              border: 1px solid #f5f5f5;
              span {
                svg {
                  color: #fff;
                }
              }
              &:hover {
                background-color: #f5f5f5;
                border: 1px solid #f5f5f5;
              }
              &:hover span svg {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 90%;
  margin: auto;
  padding-top: 100px;

  @include moblie {
    padding-top: 50px;
    flex-direction: column-reverse;
  }

  .ant-col {
    height: 650px;
    padding: 0 15px;
    position: relative;

    @include moblie {
      width: 100% !important;
      height: 300px;
    }

    &:nth-child(1) {
      @include moblie {
        margin-top: 10px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .banner-content {
      width: 50%;
      margin: auto;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 30px 45px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;

      @include moblie {
        width: 75%;
        padding: 15px 22.5px;
      }

      span {
        font-size: 28px;
        text-transform: capitalize;
        font-weight: 600;

        @include moblie {
          font-size: 18px;
        }
      }

      p {
        margin: 20px 0;
        text-align: justify;

        @include moblie {
          margin: 15px 0;
          font-size: 12px;
        }
      }

      a {
        display: block;
        padding: 20px 0;
        background-color: #fff;
        border: 3px solid #fff;
        border-radius: 10px;
        transition: 0.15s ease-in-out;
        cursor: pointer;
        width: 100%;
        position: relative;

        @include moblie {
          padding: 12.5px 0;
        }

        button {
          font-size: 14px;
          font-weight: 600;
          color: #000;
          border: none;
          background-color: transparent;
          cursor: pointer;
          position: absolute;
          left: 50%;
          top: 30%;
          transform: translate(-50%, 0);

          @include moblie {
            font-size: 12px;
          }
        }

        &:hover {
          background-color: transparent;
        }

        &:hover button {
          color: #fff;
        }
      }
    }

    .ant-flex {
      height: 100%;
      height: 100%;
      overflow: hidden;

      img {
        height: 50%;
        object-fit: cover;
      }
    }
  }
}

.shop-banner {
  position: relative;
  margin-top: 100px;

  img {
    width: 90%;
    height: 500px;
    object-fit: cover;
    margin: auto;
  }

  .banner-text {
    left: 5%;
    width: 90%;
    height: 100%;
    position: absolute;

    .ant-flex {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      p {
        font-size: 60px;
        font-weight: bold;
        color: #fff;
      }

      .ant-statistic {
        .ant-statistic-title {
          display: none;
        }
        .ant-statistic-content {
          span {
            font-size: 24px;
            color: #fff;
          }
        }
      }
    }
  }
}

.carousel-container {
  .slick-list {
    .slick-track {
      .slick-slide {
        div {
          div {
            h3 {
              @include moblie {
                height: 300px !important;
              }
            }
          }
        }
      }
    }
  }
}

.customer {
  width: 90%;
  margin: auto;
  padding-top: 100px;

  @include moblie {
    padding-top: 50px;
  }

  h2 {
    font-size: 42px;
    text-transform: capitalize;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;

    @include moblie {
      font-size: 28px;
    }
  }

  .ant-flex {
    flex-direction: column;

    .ant-card {
      padding: 0;
      position: relative;
      cursor: default;

      .ant-card-cover {
        width: 100%;
        height: 275px;

        @include moblie {
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .ant-card-body {
        padding: 20px;

        @include moblie {
          padding: 10px;
        }

        .ant-card-meta {
          .ant-card-meta-detail {
            .ant-card-meta-description {
              text-align: justify;

              @include moblie {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.contact {
  width: 100%;
  margin-top: 100px;
  background-color: #f6e3a5;

  @include moblie {
    margin-top: 50px;
  }

  .ant-flex {
    margin: auto;
    width: 90%;
    height: 350px;

    @include moblie {
      flex-direction: column;
      gap: 25px !important;
      height: auto;
      padding: 20px 0;
    }

    video {
      width: 47.5%;
      height: 90%;
      object-fit: cover;

      @include moblie {
        width: 100%;
      }
    }

    .contact-content {
      width: 47.5%;

      @include moblie {
        width: 100%;
      }

      p {
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;

        @include moblie {
          font-size: 14px;
        }
      }

      button {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        border-radius: 50px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        border: none;
        background-color: #fff;
        transition: 0.15s ease-in-out;
        cursor: pointer;

        @include moblie {
          font-size: 12px;
        }

        &:hover {
          opacity: 0.75;
        }
      }

      .ant-input-affix-wrapper {
        padding: 10px 5px;
        margin-bottom: 10px;

        @include moblie {
          padding: 5px 2.5px;
        }

        .ant-input-prefix {
          margin: 0 5px;
        }
        input {
          @include moblie {
            &::placeholder {
              font-size: 12px;
            }
          }
        }
        textarea {
          @include moblie {
            &::placeholder {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.sub-slider {
  padding-top: 100px;

  @include moblie {
    padding-top: 50px;
  }

  .sub-slider-container {
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    width: 80%;
    overflow: hidden;
    gap: 20px;

    &::before,
    &::after {
      position: absolute;
      height: 160px;
      width: 150px;
      content: "";
      z-index: 2;
    }

    &::before {
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
      top: 0;
      left: 0;
    }

    &::after {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
      top: 0;
      right: 0;
    }

    .card-list {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 20px;
      animation: slide 9s infinite linear;
      opacity: 0.15;

      .company-card {
        img {
          display: block;
          height: 120px;
          width: 160px;
          object-fit: cover;
          filter: grayscale(100%);

          &:hover {
            transition: 0.3s;
            // filter: grayscale(0);
          }
        }

        p {
          font-family: LexenSemiBold;
          text-align: center;
          margin: 10px 0;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
