.product-container {
  margin-top: 50px;

  h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px 0;
  }

  .product-action {
    width: 1800px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .ant-input-group-wrapper {
      width: 40%;
    }
  }

  .ant-layout {
    width: 90%;
    margin: auto;

    aside {
      background-color: #fff !important;
      color: #000 !important;

      .sticky {
        ul {
          li {
            .ant-menu-submenu-title {
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
            }

            ul {
              li {
                padding-left: 0 !important;
              }
            }
          }
        }
      }
    }

    main {
      background-color: #fff;

      ul {
        margin-left: 20px;
        margin-top: 25px;
      }
    }
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 25px;

    // width: 1440px;
    margin: auto;
  }
}

.ant-flex {
  .ant-row {
    margin: auto;

    .products-preview {
      .products-preview-title {
        .ant-row {
          padding: 30px 0;
          width: 85%;
          margin: auto;

          .ant-flex {
            .ant-col {
              h2 {
                font-size: 42px;
                text-transform: capitalize;
              }

              a {
                font-size: 18px;
                float: right;
              }
            }
          }
        }
      }
    }
  }
}

.sub-slider {
  padding: 40px 0;

  .sub-slider-container {
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: auto;
    width: 80%;
    overflow: hidden;
    gap: 20px;

    &::before,
    &::after {
      position: absolute;
      height: 160px;
      width: 150px;
      content: "";
      z-index: 2;
    }

    &::before {
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
      top: 0;
      left: 0;
    }

    &::after {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 1)
      );
      top: 0;
      right: 0;
    }

    .card-list {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 20px;
      animation: slide 9s infinite linear;
      opacity: 0.2;

      .company-card {
        cursor: pointer;
        img {
          display: block;
          height: 120px;
          width: 160px;
          object-fit: cover;
          filter: grayscale(100%);

          &:hover {
            transition: 0.3s;
            // filter: grayscale(0);
          }
        }

        p {
          font-family: LexenSemiBold;
          text-align: center;
          margin: 10px 0;
        }
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
