@import "../../mixins/mixins";

.product-card {
  width: 350px;
  padding: 0px 20px 20px;
  margin-top: 0 !important;

  @include moblie {
    width: 125px;
    padding: 5px 10px 10px;
  }

  &:hover {
    img {
      transform: scale(1.35) rotate(25deg);
    }
  }

  .ant-card-body {
    .ant-card-meta {
      flex-direction: column;

      .ant-card-meta-avatar {
        .ant-avatar-image {
          width: 100%;
          height: 300px;

          @include moblie {
            height: 100px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.25s ease-in-out;
          }
        }
      }

      .ant-card-meta-detail {
        width: 100%;
        padding-top: 10px;

        .ant-card-meta-title {
          font-size: 18px;
          padding-bottom: 5px;

          @include moblie {
            font-size: 14px;
            padding-bottom: 0;
          }
        }

        .ant-card-meta-description {
          .product-content {
            @include moblie {
              span,
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
